@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body {
    background-color: white;
    display: block;
    font-family: 'Ubuntu', sans-serif;
}


li.nav-item a.nav-link.btn.btn-dark {color: red; margin: 5px 10px; font-weight: bold;}
    a.btn.btn-dark {background-color: black; border: none; width: fit-content; height: 99,95px;}
    a.btn.btn-dark:hover {background-color: silver;}
    li.nav-item.active a.nav-link.btn.btn-dark {background-color: silver;}
    li.nav-item.dropdown a.dropdown-item {background-color: black; border: none; color: red;}
    li.nav-item.dropdown a.dropdown-item:hover {background-color: silver; color: red;}
    .dropdown-menu {background-color: black;}
    .dropdown-divider {display: none;}
    
p.dávid {
    border-radius: 15px;
    background-color: orange;
    text-align: left;
    color: white;
    width: fit-content;
    float: right;
}

p.luca {
    border-radius: 15px;
    background-color: silver;
    text-align: left;
    color: black;
    width: fit-content;
}

p.fb {
    border-radius: 15px;
    background-color: whitesmoke;
    text-align: center;
    color: #0078FF;
    border: 2px solid navy;
}

@media only screen and (max-width: 700px) {
    .menu li {width: 100%;}
    }