body {
    background-color: #3daae9;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    text-align: center;
}
.navbar-custom {background-color: #4d4d4d;}
.navbar-custom .nav-item.active .nav-link {background-color: #ed1515;}
.navbar-custom .nav-item:hover .nav-link {background-color: #ed1515; color: white; text-transform: uppercase;}
.navbar-custom .nav-item .nav-link {color: white;}
.navbar-custom {padding-top: 0; padding-bottom: 0;}
.dropdown-menu.show {background-color: black; }
.dropdown-menu.show .dropdown-item {color: white; text-align: center;}
.dropdown-menu.show .dropdown-item:hover {background-color: #ed1515;}
.navbar-custom .nav-item .nav-link {padding-bottom: 16px; padding-top: 12px; margin-top: 0; margin-bottom: 0;}

.jumbotron { background-color: #ed1515;
            color: white;
            padding: 10px;

}

.lead {text-align: center;  background-color: #ed1515;}

.card-header {background-color: #ed1515;}
.card-body { background-color: #4d4d4d;}

h1 {text-align: center;  background-color: #ed1515; color: white;}

p {
    background-color: #4d4d4d;
    width: 100%;
    margin: 0;
    font-size: 1em;
    text-align: justify;
}

#tablazat {background-color: #4d4d4d;}



.screenshot {
    max-width: 80%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
    border: #3daae9 solid 4px;
    border-radius: 10px;
    box-shadow: 20px 0 10px black;
    margin-bottom: 20px;
}
