

body {
    background-color: #3daae9;
    font-family: Helvetica;
    color: white;
    text-align: center;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #232629;
}

.menu li{
    float: left;
}

.menu li a {
    display: block;
    padding: 14px 16px;
    color: white;
    text-decoration: none;
    text-align: center;
}

.menu li a:hover {background-color: #ed1515;}

.menu .icon {display: none;}

.active {background-color: #ed1515;}

h1 {background-color: #4d4d4d;
    width: 100%;
    margin: 0;
    font-size: 3em;
}

h2 {background-color: #4d4d4d;
    width: 100%;
    margin: 0;
    font-size: 2em;
}

p, div {
    background-color: #4d4d4d;
    width: 100%;
    margin: 0;
    font-size: 1em;
    text-align: justify;
}

table, th, td {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

.screenshot {
    max-width: 99%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}

img.banner {width: 100%}

@media only screen and (max-width: 700px) {
    .menu li {width: 100%;}
    }
